@page
@model Project.Pages.suit_actionsModel
@using MySql.Data.MySqlClient;
@using System.Data;
@using Newtonsoft.Json
@{

    Layout = null;
    var name_customers = "";
    var action = "";
    var id = "";//customerID

    var customers_name = "";
    var customers_lastname = "";
    var id_card_ = "";
    var tel_number = "";
    var blood_types = "";
    var disease = "";
    var lease_ = "";
    var address_ = "";

    if (Request.Method == "POST")
    {
        name_customers = Request.Form["customers_name"];
        action = Request.Form["action"];
        id = Request.Form["id"];

        customers_name = Request.Form["names_customer"];
        customers_lastname = Request.Form["lastname_customer"];
        id_card_ = Request.Form["id_card"];
        tel_number = Request.Form["telephone_number"];
        address_ = Request.Form["current_address_"];
        blood_types = Request.Form["blood_type"];
        disease = Request.Form["congenitals_disease"];
        lease_ = Request.Form["lease_"];

    }

    //Request.Form ดึงข้อมูลผ่านการ POST
    MySqlConnection conn;
    string server = "localhost";
    string database = "reservation_room";
    string uid = "root";
    string password = "12345678";
    string connectionString = "SERVER=" + server + ";" + "DATABASE=" +
    database + ";" + "UID=" + uid + ";" + "PASSWORD=" + password + ";SSL Mode=None;";
    conn = new MySqlConnection(connectionString);
    try
    {
        conn.Open();
    }
    catch (Exception ex)
    {
        <p>ติดต่อฐานข้อมูลไม่สำเร็จ !!! @ex.Message</p>
    }

    var result = "{}";
    if (action == "select")
    {
        string sqlCmd = "SELECT * FROM suit_informations WHERE CustomerName = @name_lastname";
        MySqlCommand cmd = new MySqlCommand(sqlCmd, conn);
        cmd.Parameters.AddWithValue("@name_lastname", name_customers);
        MySqlDataReader reader = cmd.ExecuteReader();
        //ใน razor page จะใช้ DataTable ต้อง @using System.Data;
        var dataTable = new DataTable();
        //load ข้อมูลจาก MySqlDataReader ไปที่ dataTable
        dataTable.Load(reader);
        //@using Newtonsoft.Json เพื่อใช้ JsonConver
        string json_string = JsonConvert.SerializeObject(dataTable);
        result = json_string;
    }

    if (action == "delete")
    {
        string sqlCmd = "DELETE FROM suit_informations WHERE CustomerName = @id";
        MySqlCommand cmd = new MySqlCommand(sqlCmd, conn);
        cmd.Parameters.AddWithValue("@id", id);
        cmd.ExecuteNonQuery();
        <p>Data Deleted</p>
    }


    if (action == "insert")
    {
        string sqlCmd = "INSERT suit_informations VALUES (@name_,@lastname,@ID_card_code,@telephone_number,@current_address,@blood_type,@congenital_disease,@lease)";

        MySqlCommand cmd = new MySqlCommand(sqlCmd, conn);

        cmd.Parameters.AddWithValue("@name_", customers_name);
        cmd.Parameters.AddWithValue("@lastname", customers_lastname);
        cmd.Parameters.AddWithValue("@ID_card_code", id_card_);
        cmd.Parameters.AddWithValue("@telephone_number", tel_number);
        cmd.Parameters.AddWithValue("@current_address", address_);
        cmd.Parameters.AddWithValue("@blood_type", blood_types);
        cmd.Parameters.AddWithValue("@congenital_disease", disease);
        cmd.Parameters.AddWithValue("@lease", lease_);

        cmd.ExecuteNonQuery();
        <p>Data INSERTED</p>

    }

    if (action == "update")
    {
        string sqlCmd = "UPDATE suit_informations  "
                      + "       SET CustomerName = @customerName, "
                      + "       CustomerLastName = @lastname, "
                      + "         CustomerIDCard = @idcard, "
                      + "    CustomerPhoneNumber = @TelNumber, "
                      + "        CustomerAddress = @address, "
                      + "      CustomerBloodType = @bloodType, "
                      + "      CongenitalDisease = @disease "
                      + "      WHERE BookingDate = @lease ";

        MySqlCommand cmd = new MySqlCommand(sqlCmd, conn);
        cmd.Parameters.AddWithValue("@customerName", customers_name);
        cmd.Parameters.AddWithValue("@lastname", customers_lastname);
        cmd.Parameters.AddWithValue("@idcard", id_card_);
        cmd.Parameters.AddWithValue("@TelNumber", tel_number);
        cmd.Parameters.AddWithValue("@address", address_);
        cmd.Parameters.AddWithValue("@bloodType", blood_types);
        cmd.Parameters.AddWithValue("@disease", disease);
        cmd.Parameters.AddWithValue("@lease", lease_);
        cmd.ExecuteNonQuery();
        <p>Data UPDATE</p>
    }

    if (action == "fetch_single")
    {
        string sqlCmd = "SELECT * FROM suit_informations WHERE CustomerName = @name_lastname";
        MySqlCommand cmd = new MySqlCommand(sqlCmd, conn);
        cmd.Parameters.AddWithValue("@name_lastname", id);
        MySqlDataReader reader = cmd.ExecuteReader();
        //ใน razor page จะใช้ DataTable ต้อง @using System.Data;
        var dataTable = new DataTable();
        //load ข้อมูลจาก MySqlDataReader ไปที่ dataTable
        dataTable.Load(reader);
        //@using Newtonsoft.Json เพื่อใช้ JsonConver
        string json_string = JsonConvert.SerializeObject(dataTable);
        result = json_string;
    }
}
@Html.Raw(result)